:root {
    --bg-color: #406449;
    --text-color: #f2f2f2;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-align: center;
    font-size: 2rem;
}

.main {
    max-width: 600px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #406449;
    border-radius: 10px;
}

.main h4{
    font-size: 1.5rem;
    color: var(--text-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.selections {
    display: flex;
    margin: 3rem auto;
    justify-content: center;
    gap: 50px;

}

button{
    height: 140px;
    width: 130px;
    font-size: 4rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(224, 216, 216);
    cursor: pointer;
}

button:hover, button:active{
    filter: brightness(110%);
    font-size: 5rem;
    transition: all 200ms;
}


.display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    place-items: center;

}

.display div:nth-child(1), .display div:nth-child(2){
    font-size: 2rem;
    color: var(--bg-color);
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 120px;
    text-align: center;
}



.result-selection{
    opacity: .5;
    font-size: 3rem;
  
}

.result-selection.winner{
    opacity: 1;
    font-size: 4.5rem;
}


